
@{
    ViewData["Title"] = "Desktop";
}

<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Adding @ViewData["Title"]</h2>
        Under Development
    </div>
</div>
