@{
    ViewData["Title"] = "Mis (Mini Inventory System)";
}


<div class="container row p-0 m-0">
    <div class="col-12 border p-3">


        I have 5 items for how to make this project.
        <br />

        1.	Analyzing/Designing of the project structure
        a.	Project Diagram (screenshot 1)

        b.	Database Diagram (screenshot 2)
        <img src="~/images/Schema.jpg" width="300" />
        <br />
        2.	Sharing structural details and possibilities with customers
        a.	Bu proje gecekte daha buyuyebilir ayni zamanda stok kontrollerinin baska platformarda da kullanilma ihtimaline karsi api base bir sistem onerirdim. Eger musteri evet derse, asagidaki adimlara gecebilirim.
        <br />
        3.	Mockuplarin tamamlanmasi ve musteri ile paylasilmasi
        <br />
        4.	Coding
        <br />
        a.	Model siniflari
        <br />
        b.	Projenin mimarisi (Api base veya direk web)
        <br />
        5.	Testing
        <br />
        6.	User Manual
        <br />
    </div>

</div>


