@{
    ViewData["Title"] = "Mini Inventory System (Mis)";
}


<div class="container">
    <div class="text-center">
        <img class="d-block mx-auto mb-4" src="~/images/banner.svg" alt="" width="120" height="120">
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">I have 8 steps for how to make this project with successful.</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ol>
                            <li>Requirement gathering and analysis from customer</li>
                            <li>
                                Sharing structural details and possibilities with customers
                                <ul>
                                    <li class="m-1">Since the project has the potential to expand, I think it may be required to provide data to different platforms. For that reason, I would suggest to design API based structure. After the customer approval I would continue with below steps</li>
                                    <li class="m-1">I would prefer to use .Net Core latest version for security and performance issues because of having API based structure</li>
                                    <li class="m-1">I would prefer to use N-Layer structure because alignment with API based structure and providing opportunity to expand project</li>
                                    <li class="m-1">Front-end developer will be free to use any front-end technology with N-Layer structure (Like React, Angular, pure html, JavaScript etc.)</li>
                                </ul>
                            </li>
                            <li>
                                Analyzing/Designing of the project structure
                                <ul>
                                    <li class="m-1">Project Diagram</li>
                                    <li class="m-1">Database Diagram -  <a target="_blank" href="~/images/Schema.jpg">image</a></li>
                                </ul>
                            </li>
                            <li>Mockup designs and sharing with customer</li>
                            <li>
                                Coding
                                <ul>
                                    <li class="m-1">Sharing all done issues with customer every sprint end</li>
                                </ul>
                            </li>
                            <li>Testing</li>
                            <li>Deployment</li>
                            <li>User Manual Document</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


